.header {
  position: fixed;
  z-index: 10;
  width: 100%;
  &_wapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 90px;

    .logo {
      font-size: calc(var(--index) * .8);
    }
  }
}
