:root {
  --index: calc(1vw + 1vh);
  --calor-bg: #223d30;
  --color-theme-red: #400E0E;
  --color-theme-green: #082618;
  --color-theme-grey: #1D1D1D;
  --color-typography: #fafafafa;
  --color-transparent: rgba(255, 251, 251, 0.05);
  --color-transparent-active: rgba(255, 251, 251, 0.1);
}

[data-theme='theme-red'] {
  --calor-bg: #400E0E;
}
[data-theme='theme-green'] {
  --calor-bg: #082618;
}
[data-theme='theme-grey'] {
  --calor-bg: #1D1D1D;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  background: var(--calor-bg);
  color: var(--color-typography);
  font-weight: 400;
}

a {
  color: inherit;
  text-decoration: none;
}

.overlay::before,
.overlay::after {
  display: none;
}
